.myParent{
    width: 100%;
    /* height: 100vh; */
    box-sizing: border-box;
    /* color: blue; */
}
.header{
    display: flex;
   
}
.leftSide{
    display: flex;
    flex-direction: column;
    color: rgb(75, 70, 70);

}
.item{
    gap: 10px;
    display: flex;
    align-items: center;
}
.item span{
    font-size: 20px;
    font-weight: bold;
}
.MenuIcon{
    cursor: pointer;

}
.date span{
    font-size: 12px;
    color: rgb(115, 104, 104);
}
.main{
    width: 100%;
    
    /* height:auto;  */
    overflow: hidden;
    padding-top: 40px;
}
.tasks{
    color: blue;

    /* background-color: rgb(227, 225, 225); */
    height: 50vh;
    overflow: auto;
}

.tasks::-webkit-scrollbar{
    width: 5px;
    }
    
    .tasks::-webkit-scrollbar-thumb{
    background: #2564CF;
    border-radius: 4px;
    }
    
    .tasks::-webkit-scrollbar-thumb:hover{
    background:rgb(76, 75, 75);
    }
    
    .tasks::-webkit-scrollbar-track{
    background: #a9a6a4;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    } 