.parent{
    width: 300px;
    height: 100vh;
    background: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left:0 ;
    transition: all ease-in .3s;
    box-shadow: -2px 1px 5px 0px rgba(0, 0, 0, 0.5);
    border-right: 1px solid #eeebeb;
    z-index: 99999;


}
.parentOff{
    width: 300px;
    /* height: 100vh; */
    background: #fff;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    margin-left:-300px ;
    transition: all ease-in .3s;

}
.header{
    width: 100%;
    height: 65px;
    background-color: #fff;
    display: flex;
    box-sizing: border-box;
    padding: 25px 0 0 20px;
    cursor: pointer;
    border-bottom:.3px solid rgb(234, 233, 233);
}
.menuParent{
    width: 100%;
    height: calc(100% - 118px);
    overflow-y: auto;
    overflow-x: hidden;
}

.menuParent {
    scrollbar-width: thin; 
    scrollbar-color: #2564CF #a9a6a4; 
}


.menuParent::-webkit-scrollbar {
    width: 5px;
 
}

.menuParent::-webkit-scrollbar-thumb {
    background: #2564CF;
    border-radius: 20px;
}

.menuParent::-webkit-scrollbar-thumb:hover {
    background: rgb(76, 75, 75);
}

.menuParent::-webkit-scrollbar-track {
    background: #a9a6a4;
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

.menuItem{
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 20px;

}
.menuBox{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}
.countTasks{
    padding: 20px;
}
.menuBox:hover{
background: #FAF9F8;
}
.borderBox{
    padding: 10px;
    box-sizing: border-box;
}
.icons{
    color: rgb(57, 54, 54);
}

.border{
    border-bottom: .5px solid rgb(209, 200, 200);
}



.formParent{
    width: 100%;
    /* box-shadow: 0px 1.6px 3.6px rgba(0,0,0,0.1); */
    /* border-radius: 5px; */
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.formParent button{
    cursor: pointer;
    background-color: #fff;


}

.boxInput{
    width: 100%;
    height: 30px;
    /* border-bottom: 1px solid rgb(235, 223, 223); */
    display: flex;
    align-items: center;
    /* padding: 20px; */
    box-sizing: border-box;
   
}
.boxInput span{
color: rgb(113, 113, 238);
cursor: pointer;
    padding-right:10px;
    font-size: 30px;
    font-weight: 500;
}
.boxInput input{
   /* border: 1px solid black; */
   width: 100%;
   height: 30px;
   outline: none;
   
}
.boxInput input::placeholder{
/* padding: 5px; */
color: rgb(113, 113, 238);

font-weight: "100";
}
.boxInput input:focus::placeholder { 
 
    color: #000;

 }
 .menuList{
    width: 100%;
    display: flex;
    flex-direction: column;
   
 }

 .menuBoxList{
   display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 100%;
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
 }
 .menuBoxList:hover{
    background-color: #FAF9F8;
    cursor: pointer;
 }

 .list{
    display: flex;
    align-items: center;
    gap: 20px;
 }
 .listCount{
    margin-right: 40px;
 }