.parent{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  height: 100vh;


  }
  
  .main{
    display: flex;
  height: 100%;

  }
  .content{
  width:calc(100% - 300px) ;
  height: 100%;

  /* height: 100vh; */
  transition: all ease-in .3s;
  box-sizing: border-box;

  }
  .contentSideOff{
    width:100% ;
    /* height: 100vh; */
  transition: all ease-in .3s;
  box-sizing: border-box;


  }
  