.parent{
    display: flex;
    flex-direction: column;
  }
  
  .main{
    display: flex;
  }
  .content{
  width:calc(100% - 300px) ;
  height: 100vh;
  transition: all ease-in .3s;
  padding:30px;
  box-sizing: border-box;

  }
  .contentSideOff{
    width:100% ;
    height: 100vh;
  transition: all ease-in .3s;
  padding:30px;
  box-sizing: border-box;


  }
  