.parent_item_list{
    width: 100%;
    height: 50px;
    /* border:  1px solid black; */
    margin-top: 10px;
    box-shadow: 0px 1px 5px 0px rgba(212, 207, 207, 0.5);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease-in .3s;
    cursor: pointer;
}
.parent_item_list:hover{
  transition: all ease-in .3s;
  background-color: rgb(214, 224, 233);
}
.leftSide{
    display:flex;
    gap: 20px;
    align-items: center;

}
.title{
  height: 20px;
  color: #000;
}
.task{
  color: #000;

}














  .checkbox_wrapper_31:hover .check {
    stroke-dashoffset: 0;
  }

  .checkbox_wrapper_31 {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .checkbox_wrapper_31 .background {
    fill: #ccc;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox_wrapper_31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox_wrapper_31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox_wrapper_31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
  }
  .checkbox_wrapper_31 input[type=checkbox]:hover {
    cursor: pointer;
  }
  .checkbox_wrapper_31 input[type=checkbox]:checked + svg .background {
    fill: #2564cf;
  }
  .checkbox_wrapper_31 input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
  }
  .checkbox_wrapper_31 input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
  }

