.parent_item_list{
    width: 100%;
    height: 50px;
    /* border:  1px solid black; */
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0px 1px 5px 0px rgba(212, 207, 207, 0.5);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
}
.parent_item_list:hover{
  background-color: #FAF9F8;
}
.leftSide{
    display:flex;
    gap: 20px;
    align-items: center;

}
.title{
  /* height: 20px; */
  width: auto;
  color: #000;
  align-self: flex-start;
  margin-top:10px;
  white-space:nowrap;


}
.subTitle{
  display: flex;

}
.rightSide{
  white-space: nowrap;
  color: blue;
}
.task span{
  display: flex;
  white-space: nowrap;



}
.task{
  color: #000;
  display: flex;
  white-space: nowrap;
  align-items: center;
  height: 30px;
  

}
.title span{
  display: flex;
  flex-wrap: nowrap;

}

.centerSide{
  width: 100%;
  height: 50px
}
.douDate{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  white-space:wrap;

 
}
.douDateItem{
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #6E6E6D;
  white-space:nowrap;
  /* align-items: flex-end; */
  height:30px

}
.taskContent{
  display: flex;
  flex-direction: column;
  align-items: start;

}

