.parent_item_list{
    width: 100%;
    height: 50px;
    /* border:  1px solid black; */
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0px 1px 5px 0px rgba(212, 207, 207, 0.5);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
}
.parent_item_list:hover{
  background-color: #FAF9F8;
}
.leftSide{
    display:flex;
    gap: 20px;
    align-items: center;

}
.title{
  height: 20px;
  width: auto;
  color: #000;
}
.rightSide{
  color: blue;
}
.task{
  color: #000;

}
.title span{
  display: flex;
  flex-wrap: nowrap;
}

.centerSide{
  width: 100%;
  height: 50px
}


