.rightSide{
    
    position: relative;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid #eeebeb;
    height: calc(100vh - 50px);
    background-color: #FAF9F8;
    transition: all ease-in .3s;
}
.detilesItem{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}
.detilesItem:hover{
    background-color:#FAF9F8;

}

.formParent{
    width: 100%;
    /* box-shadow: 0px 1.6px 3.6px rgba(0,0,0,0.1); */
    /* border-radius: 5px; */
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.formParent button{
    cursor: pointer;
    background-color: #fff;


}

.boxInput{
    width: 100%;
    height: 30px;
    /* border-bottom: 1px solid rgb(235, 223, 223); */
    display: flex;
    align-items: center;
    /* padding: 20px; */
    box-sizing: border-box;
   
}
.boxInput span{
color: rgb(113, 113, 238);
cursor: pointer;
    padding-right:10px;
    font-size: 30px;
    font-weight: 500;
}
.boxInput input{
   /* border: 1px solid black; */
   width: 100%;
   height: 30px;
   outline: none;
   
}
.boxInput input::placeholder{
/* padding: 5px; */
color: rgb(113, 113, 238);

font-weight: "100";
}
.boxInput input:focus::placeholder { 
 
    color: #000;

 }

.headerParent{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    /* padding: 10px; */
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 4px;
    /* margin-bottom: 10px; */

}
.scrollMenu{
    width:100%;
    height: 100%;
   overflow-y: auto;
    /* background-color: #fff; */
    /* border:  1px solid black; */
    
}



.scrollMenu {
    scrollbar-width: thin; 
    scrollbar-color: #2564CF #a9a6a4; 
}


.scrollMenu::-webkit-scrollbar {
    width: 5px;
 
}

.scrollMenu::-webkit-scrollbar-thumb {
    background: #2564CF;
    border-radius: 20px;
}

.scrollMenu::-webkit-scrollbar-thumb:hover {
    background: rgb(76, 75, 75);
}

.scrollMenu::-webkit-scrollbar-track {
    background: #a9a6a4;
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}


.BoxLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.listItem{
  
    background-color: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    gap: 5px;
    transition: all ease-in .3s;
    border-radius: 4px;

  
}
.addMyDay{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    /* cursor: pointer; */
    border-radius: 4px;
    margin-bottom: 10px;

}
.addMyDay div{
    gap: 10px;
    display: flex;
    align-items: center;

}


.listItem:hover{
    background-color:#FAF9F8;

}
.addMyDay:hover{
    background-color:#FAF9F8;

}

.boxFooter{
    width: 100%;
   
    
    height: 20px;
}
.boxFooter div{
    background-color:#FAF9F8;
    height:100%;
padding: 10px;
/* box-sizing: border-box; */
    border-top: 1px solid #b9b8b6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxFooter div {
    color: black;
}


.stepBox{
width: 100%;
height: auto;
background-color:#ffff;

}
.stepItem{
    width: 100%;
 padding: 0 10px;
 box-sizing: border-box;
 align-items: center;
 justify-content: space-between;

}
.stepItem:hover{
    background-color:#FAF9F8;

}
.stepItem .inputBox{
    display: flex;
    align-items: center;
    gap: 10px;
 border-bottom: 1px solid rgb(190, 188, 188);
 box-sizing: border-box;
 padding: 0 5px ;

}
.stepItem .inputBox input{
    outline: none;
    background-color: "none";
    height: 50px;
}
/* .stepItem .inputBox input:hover{
    background-color:#FAF9F8;

} */
.closeButton{
    background-color: "#fff";

}
.note{
    width: 100%;
    margin-top: 10px;
}
.note textarea{
    max-width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 50px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

