.parent{
    width: 100%;
    height: 100px;
    box-shadow: 0px 1px 5px 0px rgba(194, 186, 186, 0.5);
}
.boxInput{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgb(235, 223, 223);
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
   
}
.boxInput span{
color: rgb(113, 113, 238);

    padding-right:10px;
    font-size: 30px;
    font-weight: 500;
}
.boxInput input{
   /* border: 1px solid black; */
   width: 100%;
   height: 30px;
   outline: none;
   
}
.boxInput input::placeholder{
/* padding: 5px; */
color: rgb(113, 113, 238);

font-weight: "100";
}
.boxInput input:focus::placeholder { 
 
    color: #000;

 }
 .boxFooter{
    width: 100%;
    height: 45px;
    color: #000;
    box-sizing: border-box;
padding: 20px  ;
background-color: #faf9f8;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .addButton button{
    cursor: pointer;
    width: 40px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgb(198, 185, 185);
 }
 .item .icon{
    font-size: 20px;
    /* margin-right: 10px; */
    color: rgb(53, 51, 51);
 }
