.parent{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height:100%;
  padding:30px;

    box-sizing: border-box;
    background-color: #FAF9F8;

}
.main h1{
    color: #2564CF;
}

.tasks{
    color: blue;
    margin-top: 30px;

    /* background-color: rgb(227, 225, 225); */
    height:calc(100% - 90px); 

    overflow: auto;
    /* width: 500px; */
}


.tasks {
    scrollbar-width: thin; 
    scrollbar-color: #2564CF #a9a6a4; 
}


.tasks::-webkit-scrollbar {
    width: 5px;
 
}

.tasks::-webkit-scrollbar-thumb {
    background: #2564CF;
    border-radius: 20px;
}

.tasks::-webkit-scrollbar-thumb:hover {
    background: rgb(76, 75, 75);
}

.tasks::-webkit-scrollbar-track {
    background: #a9a6a4;
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}
