


.parent_item{
    
    z-index: 9999999;
    background-color: rgb(252, 252, 252);
    position: fixed;
    left: 20px;
    width: 250px;
    height: auto;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgb(170, 167, 167);
}
.itemMenu{
    display: flex;
    flex-direction: column;
    
}

.item{
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: black;
    gap: 10px;

}
.item:hover{
    background-color: #FAF9F8
}
