.myParent{
    width: 100%;
    height: 100%;
  padding:30px;

    box-sizing: border-box;
    background-color: #FAF9F8;
}
.header{
    display: flex;
    justify-content: space-between;
   
}
.leftSide{
    display: flex;
    flex-direction: column;
    color: rgb(75, 70, 70);

}
.rightSide{
    display: flex;
    align-items: center;

}
.item{
    gap: 10px;
    display: flex;
    align-items: center;
}
.item span{
    font-size: 20px;
    font-weight: bold;
}
.MenuIcon{
    cursor: pointer;

}
.date span{
    font-size: 12px;
    color: rgb(115, 104, 104);
}
.main{
    width: 100%;
    /* background-color: rgb(73, 37, 37); */
    
    height:100%; 
    overflow: hidden;
    padding-top: 40px;
}
.tasks{
    color: blue;

    /* background-color: rgb(227, 225, 225); */
    height:calc(100% - 208px); 

    overflow: auto;
}


.tasks {
    scrollbar-width: thin; 
    scrollbar-color: #2564CF #a9a6a4; 
}


.tasks::-webkit-scrollbar {
    width: 5px;
 
}

.tasks::-webkit-scrollbar-thumb {
    background: #2564CF;
    border-radius: 20px;
}

.tasks::-webkit-scrollbar-thumb:hover {
    background: rgb(76, 75, 75);
}

.tasks::-webkit-scrollbar-track {
    background: #a9a6a4;
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}
